/************ TABLE OF CONTENTS ***************

1. Fonts
2. Reset
3. Global settings
4. Header & Footer
5. Contact Us
6. Career
7. Pricelist
8. Tips box

**********************************************/

/*====================================================================
	FONTS
====================================================================*/

@import url('font-awesome.css');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
  font-family: 'gotham-book';
  src: url('../assets/fonts/Gotham-Book.otf');
  src: local('Gotham-Book'), url('../fonts/Gotham-Book.otf') format('truetype');
}

@font-face {
  font-family: 'gotham-medium';
  src: url('../assets/fonts/Gotham-Medium.otf');
  src: local('Gotham-Medium'), url('../fonts/Gotham-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'gotham-bold';
  src: url('../assets/fonts/Gotham-bold.otf');
  src: local('Gotham-bold'), url('../fonts/Gotham-bold.otf') format('truetype');
}

@font-face {
  font-family: 'gotham-light';
  src: url('../assets/fonts/Gotham-Light.otf');
  src: local('Gotham-Light'), url('../fonts/Gotham-Light.otf') format('truetype');
}

@font-face {
  font-family: 'gotham-thin';
  src: url('../assets/fonts/Gotham-Thin.otf');
  src: local('Gotham-Thin'), url('../fonts/Gotham-Thin.otf') format('truetype');
}

@font-face {
  font-family: 'gotham-black';
  src: url('../assets/fonts/Gotham-Black.otf');
  src: local('Gotham-Black'), url('../fonts/Gotham-Black.otf') format('truetype');
}


/*====================================================================
	RESET
====================================================================*/

* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

img {
	max-width: 100%;
}

/*====================================================================
	GLOBAL SETTINGS
====================================================================*/
body{
	font-family: 'gotham-book';
	font-size:14px;
}

.nav>li>a:focus, .nav>li>a:hover{
	background: none;
	color:#f26f21;
	transition:.3s all ease-in;
}

.nopadding{
	padding-left:0px;
	padding-right:0px;
}


/*====================================================================
	Header & Footer
====================================================================*/
.nav-wrap {
	position: relative;
	z-index: 5;
}

.nav-wrap li {
	display: inline-block;
	color:#000;
}

.nav-wrap li:first-child a{
	padding-left:0px;
}

.nav-wrap li a {
	font-size: 14px;
	color:#000;
	padding:10px 10px;
}

.nav-wrap li.home {
	margin: 0;
}

header .top-menu{
	padding:5px 0px;
}

header .top-menu .nav-wrap li,
header .top-menu .nav-wrap li a{
	font-size:13px;

}

header .header-menu{
	position: relative;
    display: table;
    width: 100%;
}

header{
	padding-bottom:20px;
	    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}
}

header .header-menu .navmain_wrapper{
	display: table-cell;
	vertical-align: middle;
	padding:0px 15px;
}

header .header-menu .nav-main{
	text-align: center;
	text-transform: uppercase;
}

header .header-menu .nav-main li a{
	padding:10px 10px;
}

header .header-menu .logo-right{
	text-align:right;
	display: table-cell;
	vertical-align: middle;
} 

header .header-menu .logo-left{
	text-align:left;
	display: table-cell;
	vertical-align: middle;
} 

.search-dropdown {
    position: absolute;
    left: 35px;
    padding-left: 0px;
    padding-right: 40px;
    top: 5px;
    width: 250px;
    display: none;
}

footer .footer-top{
	background: #000;
	padding-bottom:2em;
}

footer .footer-mpm{
	padding:20px 40px;
	padding-top:4em;
	color:#fff;
	background: #1e1e1e;
	font-size:13px;
}

footer .footer-mpm .mpm-desc{
	margin-top:20px;
	margin-bottom:20px;
}

footer .social li {
    display: inline;
    font-size: 18px;
	margin-right:10px;
}

footer .social li:hover a,
footer .social li a:hover{
	color:#f26f21;
	transition:.3s all ease-in;
}

footer .social-box{
	display: inline-block;
	padding:4px 6px;
	font-size:24px;
	background: #414042;
	color:#fff;
	text-align:center;
	width:35px;
	cursor:pointer;
}

footer .footer-menu{
	padding-top:4em;
}

footer .footermenu-title:after{
	content:' ';
	background: #fff;
	width:30px;
	height:3px;
}

footer .footermenu-title hr{
	margin-top: 3px;
	margin-left:5px;
    border-top: 3px solid #fff;
    width: 45px;
}

footer .nav-footer{
	margin-top:15px;
}

footer .nav-footer li{

}

footer .nav-footer li a{
	padding:5px 0px;
	color:#fff;
}

footer .location-row{
    display: inline-block;
    text-align: left;
}

footer .location-row div{
	display: inline-block;
	padding:3px;
	line-height: 1.2;
}

footer .location-row hr{
    margin: 5px;
    border-top: 1px solid #f26f21;
    width: 280px;
}

footer .location-row div .fa{
	font-size:38px;
}

footer .location-top{
    display: block;
    text-align: center;
    color:#f26f21;
    margin-top:2em;
}

footer .footer-location{
	padding-top:4em;
}

footer .copyright{
	padding:20px 0px;
	color:#f26f21;
	font-weight: bold;
	background: #000;
}

footer .copyright .row{
	position: relative;
}

footer .contact-footer{
	margin-top:4em;
}

footer .contact-footer .contact-row{
	display: inline-block;
	text-align:left;
	padding:5px;
	background: #d90303;
	color:#fff;
    border-radius: 20px;
}

footer .contact-footer .contact-box{
	border:1px solid #fff;
	padding:15px;
	border-radius: 20px;
}

footer .contact-footer .customer-care{
	font-size:15px;
	font-weight: bold;
}

footer .contact-footer .customer-care .cust-call{
	font-size:24px;
}

.go-up {
	float:right;
    margin-bottom: 0;
    text-align: center;
    z-index: 999;
}

.go-up a {
    display: inline-block;
    line-height: 20px;
    font-size: 28px;
    color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

/*====================================================================
	Contact Us
====================================================================*/
section.contact-us{
	background: #f26f21;
	color:#fff;
	font-family: 'gotham-book';
}

section.contact-us .content{
	width:50%;
	margin:0 auto;
	padding:50px 0px;
}

section.contact-us .title{
	text-align:center;
	text-transform: uppercase;
	font-family: 'gotham-bold';
	font-size:24px;
	letter-spacing: 5px;
}

section.contact-us .title hr{
	margin-top: 15px;
    margin-bottom: 15px;
    width: 90px;
    border-top: .1em solid #fff;
    text-align: center;
    margin: 15px auto;
}

section.contact-us .sub-title{
	text-align:center;
	font-family: 'gotham-light';
	font-size:14px;
	padding:30px 0px;
	line-height: 1.5;
}

section.contact-us .contact-form .col-md-6,
section.contact-us .contact-form .col-md-12{
	padding:0px 20px;
}

section.contact-us .contact-form input,
section.contact-us .contact-form textarea{
	background: transparent;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1.5px solid #fff;
    padding:6px 0px;
    color:#fff;
}


section.contact-us .contact-form label{
	font-size:12px;
    font-family:'gotham-thin';
    font-style:italic;
    color:#fff;
}

section.contact-us .contact-form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size:12px;
    font-family:'gotham-thin';
    font-style:italic;
    color:#fff;
    text-transform:uppercase;
}

section.contact-us .contact-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size:12px;
    font-family:'gotham-thin';
    font-style:italic;
    color:#fff;
    text-transform:uppercase;
}

section.contact-us .contact-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size:12px;
    font-family:'gotham-thin';
    font-style:italic;
    color:#fff;
    text-transform:uppercase;
}

section.contact-us .contact-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size:12px;
    font-family:'gotham-thin';
    font-style:italic;
    color:#fff;
    text-transform:uppercase;
}

section.contact-us .contact-form input::-ms-input-placeholder { /* Microsoft Edge */
   font-size:12px;
    font-family:'gotham-thin';
    font-style:italic;
    color:#fff;
    text-transform:uppercase;
}

section.contact-us .contact-form .btn-contact{
	margin-top: 20px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: 'gotham-bold';
}

/*====================================================================
	Career
====================================================================*/
.career-banner .career-topbanner{
	min-height: 519px;
	background-size: cover;
	position:relative;
}

.career-banner .career-join{
	text-align: center;
    width: 100%;
    padding-top: 5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.career-banner .career-join .career-white{
	color:#fff;
	font-size:32px;
	line-height: 20px;
}

.career-banner .career-join .career-orange{
	color:#f26f21;
	font-size:38px;
}

.career-banner .career-join .btnjoin{
	background: #f26f21;
	color:#fff;
	border-radius:0px;
	font-weight: bold;
	padding:2px 10px;
	font-size:16px;
	margin-top:10px;
}

.career-list .career-listblack{
	min-height: 300px;
	background: #2f2f2f;
	color:#fff;
}

.career-list .career-listblack .container{
	position:relative;
	min-height: 300px;
}

.career-list .career-listblack .back{
    font-size: 7em;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: #373737;
    font-weight: bold;
    top:40px;
}

.career-list .career-listblack .front{
	    z-index: 2;
    position: absolute;
    color: #f26f21;
    font-size: 1.3em;
    text-transform: uppercase;
    top: calc(40px + 3em);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
}

.career-list .career-listblack .front hr{
    display: inline-block;
    width: 100px;
    margin: 0px 1em .3em;
    border-top: 1px solid #f26f21;
}

.career-list .career-register {
	text-align: center;
	padding:3em 0px;
}

.career-list .career-register .btn-career{
	background: #f26f21;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 0px;
	padding: 12px 15px;
}

.career-list .career-register .btn-career:hover{
	background: #d05e1b;
	transition:.3s all ease-in;
}

.career-list .career-box_wrapper{
	margin-top:-6em;
}

.career-list .career-box_wrapper p{
	margin-bottom:15px;
}

.career-list .career-box_wrapper .career-box{
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 4em 2em 2em;
	border:2px solid #f1f2f2;
	background-color:#fff;
	line-height: 1.5;
}

.career-list .career-box_wrapper .career-box .title{
	color:#000;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.career-list .career-box_wrapper .career-box .title span{
	color:#f26f21;
}

.career-list .career-box_wrapper .career-box .qualification ul{
	padding-left:16px;
}

.career-list .career-box_wrapper .career-box .qualification ul li{
	margin-bottom:5px;
}

/*====================================================================
	Pricelist
====================================================================*/
.pricelist{
	padding:30px 0px;
}

.pricelist .pricelist-title{
	font-size:36px;
	font-family: 'gotham-bold';
	margin-bottom:20px;
}

.pricelist .table-pricelist thead tr th{
	text-align: center;
	font-family: 'gotham-medium';
	font-size:16px;
	color:#fff;
	background-color:#e3031e;
	text-transform: uppercase;
}

.pricelist .table>tbody>tr>td, .pricelist .table>tbody>tr>th, 
.pricelist .table>thead>tr>td, .pricelist .table>thead>tr>th{
	border-right:5px solid #fff;
	border-bottom:5px solid #fff;
	padding: 8px 15px;
}

.pricelist .table-pricelist tr td{
	font-family: 'gotham-medium';
	font-size:14px;
	text-transform: uppercase;
}

.pricelist .table-pricelist tr:nth-child(odd) td{
	background-color:#bcbec0;
}

.pricelist .table-pricelist tr:nth-child(even) td{
	background-color:#f1f2f2;
}

.pricelist .hargakotalain{
	margin-bottom:20px;
}

.pricelist .hargakotalain .group-title{
	padding:15px 30px;
	color:#fff;
	font-family: 'gotham-medium';
	font-size:12px;
	background-color:#e3031e;
	display: inline-block;
}

.pricelist .btn-group,
.pricelist .btn-group select{
	background-color:#bcbec0;
}

.pricelist .btn-group select{
	padding: 0px 25px;
	font-style:italic;
	color:#58595b;
	font-family: 'gotham-medium';
}

/*====================================================================
	Tips box
====================================================================*/
.home-tips{
	padding:25px 0px;
}

.tips-box{
	background-color: #fcdbc7;
	padding-bottom:15px;
}

.tips-box .caption{
	background-color: #fff;
	margin:0px 15px;
	padding:20px;
	text-align: center;
	position:relative;
	margin-top:-20px;
}
.tips-box .caption:before{
	content:'';
	height:30px;
	width:30px;
	background-color: #000;
}

.tips-box .caption .date{
	font-family: 'gotham-book';
	font-size:12px;
	margin-bottom:5px;
}

.tips-box .caption .date:after {
    content: '';
    height: 1px;
    width: 30px;
    background: #000;
    display: block;
    margin: 0 auto;	
}

.tips-box .caption .title{
	font-family: 'gotham-black';
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -.5px;
    text-transform: uppercase;
    margin-bottom:15px;
}	

.tips-box .caption .content{
	text-align:left;
	font-family: 'gotham-medium';
	font-size:12px;
	line-height: 1.5;
	margin-bottom:15px;
}

.tips-box .caption .read-more a{
	font-family: 'gotham-black';
	color:#231f20;
	letter-spacing: 1px;
}

.tips-box .caption .read-more a:hover{
	color:#f26f21;
	transition:.2s all ease-in;
	text-decoration: none;
}